.counter {
  background-color: darkblue;
  width: 200px;
  height: 100px;
  position: absolute;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 400ms ease-in;
  z-index: 900;
}
.first {
  left: -500px;
  z-index: 900;
}
.second {
  right: -500px;
  z-index: 900;
}
.time {
  background-color: darkblue;
  width: 150px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  transition: all 300ms ease-in;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
}
.result {
  margin: 100px auto;
  background-color: darkblue;
  width: 300px;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: relative;
  flex-direction: column;
  padding: 10px;
}

.first.active {
  left: 40px;
}
.second.active {
  right: 40px;
}
.back__modal {
  z-index: 100;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
}
.btn__close {
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: red;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
